<div class="container-fluid">
    <div class="row mt-2 justify-content-between mb-2">
        <div class="col-md-8">
            <h3 class="internship ms-2">Spark Foundation Internship</h3>
        </div>
        <div class="col-md-4">
            <span class="bank-text me-2">Coding Online Bank</span>
            <a href="/">
                <img src="/images/bank-icon.png" alt="bank-icon" class="img-fluid" width="50px" height="50px">
            </a>
        </div>
    </div>
</div>
